@import url('https://fonts.googleapis.com/css2? family= AR+One+Sans:wght@400;600 & family= Sora:wght@200;400;600 & family= Young+ Serif & display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', sem serifa;
}